<body style="height:100%; width:100%;">
    <main class="d-flex justify-content-center flex-wrap">
        <section class="p-3 box_option">
            <h2 class="text-center mt-4">Click In One Option Below</h2>
            <section class="d-flex justify-content-around mt-5">
                <button class="button_home"><a href="/info">I Already Have a Pet</a></button>
                <button class="button_home"><a href="/questions">I Am Looking For a Pet</a></button>
            </section>
        </section>
    </main>
    <section class="d-flex justify-content-center">
        <img id="dogs_and_cats" src="/images/background_home.png" alt="Dogs And Cats">
    </section>
</body>

