<body style="height:100%; width:100%;">
    <main class="d-flex justify-content-center flex-wrap">
        <section class="p-3 box_option">
            <h2 class="text-center mt-4">Click In One Option Below</h2>
            <section class="d-flex justify-content-around mt-5">
                <a href="/info"><button class="button_home mx-1">I ALREADY HAVE A PET</button></a>
                <a href="/questions"><button class="button_home mx-1">I AM LOOKING FOR A PET</button></a>
                <a href="/name"><button class="button_home mx-1">I WANT A NAME FOR MY PET</button></a>
            </section>
        </section>
    </main>
    <section class="d-flex justify-content-center">
        <img id="dogs_and_cats" src="/images/background_home.png" alt="Dogs And Cats">
    </section>
</body>

