<div class="card">
    <div class="card-header">
        <div class="title">
            Login
        </div>
    </div>
    <div class="card-body">  
        <form class="login-form">
            <div>
                <label for="username-login" class="form-label">Username</label>
                <input type="text" class="form-input" id="username-login" />
            </div>
            <div>
                <label for="password-login" class="form-label">Password</label>
                <input type="password" class="form-input" id="password-login" />
            </div>
            <div>
                <button type="submit" class="btn">Login!</button>
            </div>
            <a href="/signup">Sign up instead!</a>
        </form>
    </div>
</div>

<script src="/javascript/login.js"></script>