<main style="border-top: 4px solid #c8a56f">
    <section class="d-flex justify-content-center flex-nowrap">
        <section class="button_section flex-nowrap">
            <div id="buttons" class="my-4 flex-nowrap"></div>
        </section>
    </section>
</main>
<script src="/js/name.js"></script>