<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Things Pets</title>
    <link rel="icon" type="image/png" href="images/logo_dog.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cat.css">
</head>
<body>
  <header class="p-1 d-flex align-items-center justify-content-between">
    <a href="/"><img class="logo" src="/images/logo_dog.png"></a>
    <h1>All Things Pets</h1>
    <a href="/"><img class="logo" src="/images/logo_cat.png"></a>
  </header>
    <main id="main_questions" style="border-top: 4px solid #c8a56f">
        <section class="d-flex justify-content-center my-4">
            <h2>Let us help find the right cat for you! <br>
            Please select from the choices below</h2>
        </section>
        {{!-- First Questions: Hypo-Allergenic --}}
            <section class="container mt-5">
            <section>
                <h3>1. How allergic are you to cats?</h3>
            </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="allergic" name="inlineRadioOptions" value="Highly Allergic">
                        <label class="h5" for="hypoallergenic"> <b><i>Highly allergic</i></b>, I want to make your sneeze and cause pain.</label><br>
                    
                        <input type="radio" id="no_pref_allergenic" name="inlineRadioOptions" value="Allergic, but can handle">
                        <label class="h5" for="hypoallergenic"> <b><i>Have some allergies</i></b>, but you won't die.</label><br>
                   
                        <input type="radio" id="non_allergenic" name="inlineRadioOptions" value="Not allergic at all">
                        <label class="h5" for="hypoallergenic"><b><i>Not allergic at all!</i></b> I'm the furminator! I will leave fur everywhere I lay.</label><br>
                    </form>
                </section>
            </section>

        {{!-- Second Questions: Grooming Needs --}}
            <section class="container mt-5">
            <section>
                <h3>2. What preferences do you have for a cat?</h3>
            </section>
            <div class="w-100"></div>
            <section class="row">
                <form>
                    <input type="radio" id="weekly" name="inlineRadioOptions" value="Weekly">
                    <label class="h5" for="grooming"><b><i>Weekly</i></b>, I expect you to brush or bath me all the time, otherwise I will throw up a furball in your shoe.</label><br>
                    
                    <input type="radio" id="monthly" name="inlineRadioOptions" value="Monthly">
                    <label class="h5" for="grooming"><b><i>Monthly</i></b>, you may brush me or bath me, but don't do it too often</label><br>
                   
                    <input type="radio" id="periodically" name="inlineRadioOptions" value="Periodically">
                    <label class="h5" for="grooming"><b>Periodically<i></i></b>, I do not require much in the groom department. I'm low maintenance.</label><br>
                </form>
            </section>
        </section>

        {{!-- Third Questions: energy level --}}
            <section class="container mt-5">
            <section>
                <h3>3. What energy level are you expecting our of your cat?</h3>
            </section>
            <div class="w-100"></div>
            <section class="row">
                <form>
                    <input type="radio" id="yes" name="inlineRadioOptions" value="Energetic">
                    <label class="h5" for="energy"><b><i>Energetic</i></b>, I plan on waking up at 3am every morning for a quick run.</label><br>

                    <input type="radio" id="no" name="inlineRadioOptions" value="Not Energetic">
                    <label class="h5" for="energy"><b><i>Not So Energetic</i></b>, I understand the word sleep.....what do you mean by run???</label><br>
                </form>
            </section>
        </section>
    

        {{!-- Fourth Questions: playfulness --}}
            <section class="container mt-5 pt-4">
                <section>
                    <h3>4. How playful do you want your cat to be?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="yes" name="inlineRadioOptions" value="Playful">
                        <label class="h5" for="playful"><b><i>Playful</i></b>, I love to play! Give me a box, bring out the laser pointer, or I may grab the toilet paper!</label><br>

                        <input type="radio" id="no" name="inlineRadioOptions" value="Not Playful">
                        <label class="h5" for="playful"><b><i>Not Playful</i></b>, I don't enjoy anything that requires me to move a paw... </label><br>
                    </form>
                </section>
            </section>

        {{!-- Fifth Questions: affection level --}}
            <section class="container mt-5 pt-4">
                <section>
                    <h3>5. How affectionate would you like your cat?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="yes" name="inlineRadioOptions" value="Affectionate">
                        <label class="h5" for="affection"><b><i>Affectionate</i></b>, if you are watching tv, I love to have a little one on one time to cuddle! </label><br>

                        <input type="radio" id="no" name="inlineRadioOptions" value="Not Affectionate">
                        <label class="h5" for="affection"><b><i>Not Affectionate</i></b>, you are only here to feed me! I don't give cuddles. </label><br>
                    </form>
                </section>
            </section>

        {{!-- Sixth Questions: Independence --}}
            <section class="container mt-5 pt-4">
                <section>
                    <h3>6. How independent do you want your cat to be? </h3>
                    <h5>(Think about the periods of time they will be at home without you)</h5>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="yes" name="inlineRadioOptions" value="Independent">
                        <label class="h5" for="independence"><b><i>Independent</i></b>, go to work all day or take a a few days away. I'm good with hanging out with my toys. </label><br>

                        <input type="radio" id="no" name="inlineRadioOptions" value="Clingy">
                        <label class="h5" for="independence"><b><i>Clingy</i></b>, please don't leave me at home, I'll sit by the door missing you.  </label><br>
                    </form>
                </section>
            </section>

        {{!-- Seventh Questions: dog compatibility --}}
            <section class="container mt-5 pt-4">
                <section>
                    <h3>7. Do you have a dog at home?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="yes" name="inlineRadioOptions" value="Dog Compatible">
                        <label class="h5" for="dog_compatibility"><b><i>Yes</i></b>, I will tolerate that mangy beast.</label><br>

                        <input type="radio" id="no" name="inlineRadioOptions" value="Not Dog Compatible">
                        <label class="h5" for="dog_compatibility"><b><i>No</i></b>, get that stinky dog away from me!</label><br>
                    </form>
                </section>
            </section>

        {{!-- Eighth Questions: cat compatibility--}}
            <section class="container mt-5 pt-4">
                <section>
                    <h3>8. Do you have another cat at home?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="yes" name="inlineRadioOptions" value="Cat Compatible">
                        <label class="h5" for="cat_compatibility"><b><i>Yes</i></b>, I don't mind having another feline cohort.</label><br>

                        <input type="radio" id="no" name="inlineRadioOptions" value="Not Cat Compatible">
                        <label class="h5" for="cat_compatibility"><b><i>No</i></b>, I'm the only princess in this house!</label><br>
                    </form>
                </section>
            </section>

        {{!-- Ninth Questions: child compatibility --}}
            <section class="container mt-5 pt-4">
                <section>
                    <h3>9. Do you have any children at home?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="yes" name="inlineRadioOptions" value="Child Compatible">
                        <label class="h5" for="child_compatibility"><b><i>Yes</i></b>, I'd like a little munchkin to cuddle with.</label><br>

                        <input type="radio" id="no" name="inlineRadioOptions" value="Not Child Compatible">
                        <label class="h5" for="child_compatibility"><b><i>No</i></b>, keep that rug rat way from me with their sticky hands!</label><br>
                    </form>
                </section>
            </section>

        {{!-- Tenth Questions: fur length --}}
            <section class="container mt-5 pt-4">
                <section>
                    <h3>10. Do you have a preference in fur length?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="short" name="inlineRadioOptions" value="Short Hair">
                        <label class="h5" for="fur_length"><b><i>Shorthair</i></b></label><br>
                        
                        <input type="radio" id="long" name="inlineRadioOptions" value="Long Hair">
                        <label class="h5" for="fur_length"><b><i>Longhair</i></b></label><br>
                        
                        <input type="radio" id="all" name="inlineRadioOptions" value="Short or Long Hair">
                        <label class="h5" for="fur_length"><b><i>Shorthair or Longhair</i></b></label><br>

                        <input type="radio" id="no_hair" name="inlineRadioOptions" value="No Hair">
                        <label class="h5" for="fur_length"><b><i>No fur please!</i></b> </label><br>
                    </form>
                </section>
            </section>

        {{!-- Eleventh Questions: fur color --}}
             <section class="container mt-5 pt-4">
                <section>
                    <h3>11. Do you have a preference in fur color?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="black" name="inlineRadioOptions" value="Black Fur">
                        <label class="h5" for="color"><b><i>Black Fur</i></b></label><br>
                        
                        <input type="radio" id="white" name="inlineRadioOptions" value="White Fur">
                        <label class="h5" for="color"><b><i>White Fur</i></b></label><br>

                        <input type="radio" id="blue" name="inlineRadioOptions" value="Blue-Gray Fur">
                        <label class="h5" for="color"><b><i>Blue/Gray Fur</i></b></label><br>

                        <input type="radio" id="red" name="inlineRadioOptions" value="Red Ginger Fur">
                        <label class="h5" for="color"><b><i>Red/Ginger Fur</i></b></label><br>

                        <input type="radio" id="cream" name="inlineRadioOptions" value="Cream Fur">
                        <label class="h5" for="color"><b><i>Cream Fur</i></b> </label><br>

                        <input type="radio" id="brown" name="inlineRadioOptions" value="Brown Fur">
                        <label class="h5" for="color"><b><i>Brown Fur</i></b> </label><br>

                        {{!-- If chosen, options will be offered in the description as to what color these breeds come in --}}
                        <input type="radio" id="no_preference" name="inlineRadioOptions" value="No Preference">
                        <label class="h5" for="color"><b><i>No Preference</i></b>, I love all cats!</label><br>
                    </form>
                </section>
            </section>

    <section class="section_questions pb-4"></section>
    </main>
    <section id="section_cats_for_you" class="container mt-5 hide">
        
    </section>
        <footer id="footer_questions" style="border-top: 4px solid #c8a56f" class="section_button_find text-center mt-5 py-5">
            <button id="find_cat" class="p-2">Find your Cat!!!</button>
        </footer>
    <script src="/js/catQuestions.js"></script>
    </body>
</html>