<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Things Pets</title>
    <link rel="icon" type="image/png" href="images/logo_dog.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cat.css">
</head>
<body>
  <header class="p-1 d-flex align-items-center justify-content-between">
    <a href="/"><img class="logo" src="/images/logo_dog.png"></a>
    <h1>All Things Pets</h1>
    <a href="/"><img class="logo" src="/images/logo_cat.png"></a>
  </header>
    <main id="main_questions" style="border-top: 4px solid #c8a56f">
        <section class="d-flex justify-content-center my-4">
            <h2>Let us help find the right cat for you! <br>
            Please select from the choices below</h2>
        </section>
    {{!-- First Questions: Hypo-Allergenic --}}
        <section class="container mt-5">
            <section>
                <h3>How allergic are you to cats?</h3>
            </section>
            <div class="w-100"></div>
            <section class="row">
                <form>
                    <input type="radio" id="allergic" name="inlineRadioOptions" value="Highly Allergic">
                    <label class="h5" for="allergic"> <b><i>Highly allergic</i></b>, I want to make your sneeze and cause pain.</label><br>
                    
                    <input type="radio" id="no_pref_allergenic" name="inlineRadioOptions" value="Allergic, but can handle">
                    <label class="h5" for="no_pref_allergenic"> <b><i>Have some allergies</i></b>, but you won't die.</label><br>
                   
                    <input type="radio" id="non_allergenic" name="inlineRadioOptions" value="Not allergic at all">
                    <label class="h5" for="non_allergenic"><b><i>Not allergic at all!</i></b> I'm the furminator! I will leave fur everywhere I lay.</label><br>
                </form>
            </section>
        </section>

    {{!-- Second Questions: Grooming Needs --}}
        <section class="container mt-5">
            <section>
                <h3>What preferences do you have for a cat?</h3>
            </section>
            <div class="w-100"></div>
            <section class="row">
                <form>
                    <input type="radio" id="weekly" name="inlineRadioOptions" value="Weekly">
                    <label class="h5" for="weekly"><b><i>Weekly</i></b>, I expect you to brush or bath me all the time, otherwise I will through up a furball in your shoe.</label><br>
                    
                    <input type="radio" id="monthly" name="inlineRadioOptions" value="Monthly">
                    <label class="h5" for="monthly"><b><i>Monthly</i></b>, you may brush me or bath me, but don't do it too often</label><br>
                   
                    <input type="radio" id="periodically" name="inlineRadioOptions" value="Periodically">
                    <label class="h5" for="periodically"><b>Periodically<i></i></b>, I do not require much in the groom department. I'm low maintenance.</label><br>
                </form>
            </section>
        </section>

    {{!-- Third Questions: energy level --}}
        <section class="container mt-5">
            <section>
                <h3>What energy level are you expecting our of your cat?</h3>
            </section>
            <div class="w-100"></div>
            <section class="row">
                <form>
                    <input type="radio" id="energetic" name="inlineRadioOptions" value="Energetic">
                    <label class="h5" for="yes"><b><i>Energetic</i></b> I plan on waking up at 3am every morning for a quick run.</label><br>

                    <input type="radio" id="non_energetic" name="inlineRadioOptions" value="Non_Energetic">
                    <label class="h5" for="no"><b><i>Not So Energetic</i></b> I understand the word sleep.....what do you mean run???</label><br>
                </form>
            </section>
        </section>
    

    {{!-- Fourth Questions: playfulness --}}
        <section class="container mt-5 pt-4">
                <section>
                    <h3>How playful do you want your cat to be?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                    </form>
                </section>
            </section>

    {{!-- Fifth Questions: affection level --}}
        <section class="container mt-5 pt-4">
                <section>
                    <h3>How affectionate would you like your cat?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                    </form>
                </section>
            </section>

    {{!-- Sixth Questions: Independence --}}
        <section class="container mt-5 pt-4">
                <section>
                    <h3>How independent do you want your cat to be? </h3>
                    <h5>(Think about the periods of time they will be at home without you)</h5>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                    </form>
                </section>
            </section>

        {{!-- Seventh Questions: dog compatibility --}}
            <section class="container mt-5 pt-4">
                <section>
                    <h3>Do you have a dog at home?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                    </form>
                </section>
            </section>

        {{!-- Eighth Questions: cat compatibility--}}
            <section class="container mt-5 pt-4">
                <section>
                    <h3>Do you have another cat at home?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                    </form>
                </section>
            </section>

        {{!-- Ninth Questions: child compatibility --}}
            <section class="container mt-5 pt-4">
                <section>
                    <h3>Do you have any children at home?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                    </form>
                </section>
            </section>

        {{!-- Tenth Questions: fur length --}}
            <section class="container mt-5 pt-4">
                <section>
                    <h3>Do you have a preference in fur length?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                        
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                        
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                    </form>
                </section>
            </section>

        {{!-- Eleventh Questions: fur color --}}
             <section class="container mt-5 pt-4">
                <section>
                    <h3>Do you have a preference in fur color?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                        
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                    </form>
                </section>
            </section>

{{!-- Twelfth Questions: Vet accommodation's --}}
 <section class="container mt-5 pt-4">
                <section>
                    <h3>Do you need help with finding a vet?</h3>
                </section>
                <div class="w-100"></div>
                <section class="row">
                    <form>
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                        
                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>

                        <input type="radio" id="" name="inlineRadioOptions" value="">
                        <label class="h5" for=""><b><i></i></b> </label><br>
                    </form>
                </section>
            </section>


    <section class="section_questions pb-4"></section>
    </main>
    <section id="section_cats_for_you" class="container mt-5 hide">
        
    </section>
        <footer id="footer_questions" style="border-top: 4px solid #c8a56f" class="section_button_find text-center mt-5 py-5">
            <button id="find_cat" class="p-2">Find your Cat!!!</button>
        </footer>
    <script src="/js/catQuestions.js"></script>
    </body>
</html>