<body style="background-image: 
    url('../images/background_question.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -25px;
    width: 100%;
    height: 100vh;">
    <main style="border-top: 4px solid #c8a56f">
        <h2 class="text-center" style="margin-top: 90px;">Question</h2>
        <section class="d-flex justify-content-center">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </section>

    </main>
</body>