<div class="card">
    <div class="card-header">
        <div class="title">
            Sign Up
        </div>
    </div>
    <div class="card-body">  
        <form class="signup-form">
            <div>
                <label for="username-signup" class="form-label">Username</label>
                <input type="text" class="form-input" id="username-signup" />
            </div>
            <div>
                <label for="email-signup" class="form-label">Email</label>
                <input type="text" class="form-input" id="email-signup" />
            </div>
            <div>
                <label for="password-signup" class="form-label">Password</label>
                <input type="password" class="form-input" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="btn">Sign up!</button>
            </div>
            <a href="/login">Log in instead!</a>
        </form>
    </div>
</div>

<script src="/javascript/signup.js"></script>